# Applied Data Science Capstone : Neighborhoods in Toronto, Canada

In [4]:
pip install BeautifulSoup4

Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/1a/b7/34eec2fe5a49718944e215fde81288eec1fa04638aa3fb57c1c6cd0f98c3/beautifulsoup4-4.8.0-py3-none-any.whl (97kB)
     |████████████████████████████████| 102kB 19.8MB/s ta 0:00:01
Collecting soupsieve>=1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/0b/44/0474f2207fdd601bb25787671c81076333d2c80e6f97e92790f8887cf682/soupsieve-1.9.3-py2.py3-none-any.whl
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.8.0 soupsieve-1.9.3
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Import required libraries
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [8]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/ec/be/5ab8abdd8663c0386ec2dd595a5bc0e23330a0549b8a91e32f38c20845b6/lxml-4.4.1-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 31.0MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.1
Note: you may need to restart the kernel to use updated packages.

## Scrapping code from the Wiki Site

In [12]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(res.content)
table = soup.find_all('table')[0] 
df = pd.read_html(str(table))
#print(df[0].to_json(orient='records'))
#df.head

In [21]:
data = df[0]

In [25]:
# Renaming the Columns
data.columns = ['PostalCode','Borough','Neighborhood']

In [31]:
data.head(10)

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights
7        M6A        North York    Lawrence Manor
8        M7A      Queen's Park      Not assigned
9        M8A      Not assigned      Not assigned

In [28]:
data.shape

(288, 3)

## Dropping all the rows for which Borough is 'Not assigned'

In [29]:
# Dropping all the rows for which Borough is 'Not assigned'
data_1 = data[data['Borough'] != 'Not assigned'] 
data_1.shape

(211, 3)

In [73]:
# Grouping data on PostalCode and Borough and combining their Neighborhood
data_2 = data_1.groupby(['PostalCode','Borough'],as_index=False).agg({'Neighborhood': ', '.join})
data_2.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [74]:
data_2.shape

(103, 3)

In [75]:
data_3 = data_2

## Checking the Neighborhood, if it is "Not assigned" updating it with Borough's value

In [90]:
# Checking the Neighborhood, if it is "Not assigned" updating it with Borough's value
for index, row in data_3.iterrows(): 
    if row['Neighborhood'] == 'Not assigned':
        row['Neighborhood'] = row['Borough']

data_3.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [89]:
# Checking the value which was having Neighborhood "Not assigned" is not assigned with its Borough.
data_3[data_3['PostalCode']=='M7A']

   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Queen's Park

In [91]:
data_3.shape

(103, 3)